/* Reset básico para remover margens, paddings e definir box-sizing */
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Comportamento suave ao rolar a página */
html{
  scroll-behavior: smooth;
}
/* Váriaveis (paleta) modo claro */
:root{
    --cor-principal:#ffffff;
    --cor-secundaria:#085A8C;
    --cor-terciaria:#D9D9D9;
    --cor-quaternaria: #D9D9D9;
    --primary-color: #085A8C;       
    --secondary-color: #9c50e3;     
    --background-color: #F5F7FA;    
    --text-color: #4A4A4A;          
    --white-color: #FFFFFF;         
}
/* Váriaveis (paleta) modo escuro */
.dark-mode{
    --cor-principal: #0F0F0F; 
    --cor-secundaria: #085A8C; 
    --cor-terciaria: #BB86FC; 
    --cor-quaternaria: #03DAC6; 
    --primary-color: #085A8C; 
    --secondary-color: #03DAC6; 
    --background-color: #121212; 
    --text-color: #4A4A4A; 
    --white-color: #FFFFFF; 
}
/* Estilo base do corpo */
body{
    background-color: var(--cor-principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Cabeçalho principal*/
.cabecalho{
    background-color: var(--cor-secundaria);
    padding: 1.720%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    
}
/* Área de usuário no cabeçalho */
.cabecalho__usuario{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
/* Link do usuário */
.cabecalho__usuario__link{
    color: var(--cor-terciaria);
}
/* Ícone/menu lateral no cabeçalho */
.botao__menu{
    width: 30px;
    background-color: var(--cor-secundaria);
    cursor: pointer;

}
/* Contêiner do botão de configuração */
.configuracoes {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* Conteúdo do dropdown oculto por padrão */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links dentro do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Efeito hover nos links do dropdown */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Mostra o dropdown quando passa o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Cor de fundo ao passar o mouse sobre o botão */
.dropbtn:hover {
    background-color: #3e8e41;
}
/* Dropdown alternativo para configurações */
.configuracao {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.configuracao-content {
  display: none;
  
  position: absolute;
  right: 0%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.configuracao-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.configuracao-content a:hover {
  background-color: #ddd;
}

.configuracao:hover .configuracao-content {
  display: block;
}

.configuracao:hover {
    background-color: #3e8e41;
}


/* Títulos dentro de <header> */
.main-content {
  flex: 1;
  padding: 40px;
}


/* Títulos dentro de <header> */
header h1,
header h2 {
    font-size: 32px;
    margin-bottom: 10px;
    .dark-mode & {
        color: var(--white-color);
    }
}
/* Parágrafo dentro de <header> */
header p {
  font-size: 18px;
  color: var(--text-color);
  .dark-mode &{
    color: var(--white-color);
  }
}

/* Caixa de dados */
.widgets {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  
}


.widget {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.733);
  transition: transform 0.3s;
}

.widget h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.widget p {
  font-size: 28px;
  font-weight: bold;
  
}

/* Efeito hover nos widgets */
.widget:hover {
  transform: translateY(-5px);
}

/* Gráficos */
.charts {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

/* Container para cada gráfico */
.chart-container {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilização das fotos dos Cooperadores*/
.widget__foto {
width: 50px; 
height: 50px; 
border-radius: 50%;
object-fit: cover;
margin-bottom: 10px;
}

/* Rodapé */
.rodape {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 1.720%;
    position: relative;
    bottom: 0;
    width: 100%;
}
.rodape__texto {
    font-size: 14px;
    color: var(--background-color);
    margin: 0;
    .dark-mode &{
      color: var(--white-color);
  }
}
/* Widget com entrada de data */
.widget__data {
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.733);
    transition: transform 0.3s;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;

}
/* Campo de texto estilizado */
.widget__kg{
    width: 100%;
    padding: 10px;
    border-radius:2px;
    border: 1px solid var(--cor-terciaria);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--white-color);
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}
/* Widget de cooperadores */
.widget__cooperadores {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex; 
  align-items: center;
  margin-top: 2%;
}

/* Efeito de hover */
.widget__cooperadores:hover {
  transform: translateY(-5px);
}

/* Imagem do cooperador */
.widget__foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Link completo (imagem + texto) */
.perfil-link {
  display: flex; 
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 30px; 
}

/* Texto ao lado da imagem */
.perfil-link h3 {
  font-size: 20px;
  margin: 0 0 8px 0; 
  color: var(--primary-color);
  transition: color 0.3s ease;
}


/* Efeito de hover nos nomes de cada colaborador */
.perfil-link:hover h3 {
  color: #A9F7D1; 
}

/* responsividade */
@media (max-width: 768px) {
  
  .widgets, .charts {
      flex-direction: column;
  }

  .sidebar {
      width: 60px;
  }

  .sidebar .logo,
  .sidebar ul li a {
      display: none;
  }
}
.botao-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: var(--cor-secundaria);
    height: 75px;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.733);
    transition: transform 0.3s;
    margin-top: 2%;
    display: flex;
    
    
    
    
}
.widget__data-botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5%;
    justify-content: center;
    text-align: center;
    
  
}
.botao-previsao{
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  font-size: large;
  cursor: pointer;
  padding: 10px 20px;
  
}
.dia-mes{
  cursor: pointer;
}
.palavra-retirada{
  font-size: 20px;
  color: var(--cor-secundaria);
  margin-top: 4%;
  text-align: center;
}
.base-dados-input{
  display: flex;
  flex-direction: column;
  
}
.caixa-base-dados{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2%;

  
}
.widget__metricas {
  align-items: center;
  margin-top: 4%;
}
.metricas h3{
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 1%;
}
.metricas p {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}
.widget__metricas{
  width: 50%;
}